In [ ]:
url = "http://nufm.dfcfw.com/EM_Finance2014NumericApplication/JS.aspx?cb=jQuery112404462275420342996_1542343049719&type=CT&token=4f1862fc3b5e77c150a2b985b12db0fd&sty=FCOIATC&js=(%7Bdata%3A%5B(x)%5D%2CrecordsFiltered%3A(tot)%7D)&cmd=C._A&st=(ChangePercent)&sr=-1&p=1&ps=20&_=1542343050897"

In [ ]:
"""
Desc: 东方财富网-行情中心-期权市场
http://quote.eastmoney.com/center
"""
# same logic
# 返回所有的期权：http://quote.eastmoney.com/center/qqsc.html

# 上交所全部期权
# target_url http://quote.eastmoney.com/center/gridlist.html#options_sh50etf_all

# 深交所全部期权
# target url http://quote.eastmoney.com/center/gridlist.html#options_szetf_all

# 中金所全部期权
# target url http://quote.eastmoney.com/center/gridlist.html#options_cffex_all

In [15]:
import json
import requests
import pandas as pd

url = 'http://98.push2.eastmoney.com/api/qt/clist/get'
params ={
    'cb': 'jQuery11240028745663294216683_1673331486150',
    'pn': '1',
    'pz': '200000',
    'po': '1',
    'np': '1',
    'ut':'bd1d9ddb04089700cf9c27f6f7426281',
    'fltt': '2',
    'invt': '2',
    'fid': 'f3',
    'fs': 'm:10,m:140,m:141,m:151,m:163',
    'fields': 'f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f12,f13,f14,f15,f16,f17,f18,f20,f21,f23,f24,f25,f22,f28,f11,f62,f128,f136,f115,f152,f133,f108,f163,f161,f162',
    '_': '1673331486214'
}

r = requests.get(url, params=params)
data_text = r.text
data_json = json.loads(data_text[data_text.find('{'):-2])
temp_df = pd.DataFrame(data_json['data']['diff'])
temp_df.columns = [
    '_',
    '最新价',
    '涨跌幅',
    '涨跌额',
    '成交量',
    '成交额',
    '_',
    '_',
    '_',
    '_',
    '_',
    '代码',
    '_',
    '名称',
    '_',
    '_',
    '今开',
    '_',
    '_',
    '_',
    '_',
    '_',
    '_',
    '_',
    '昨结',
    '_',
    '持仓量',
    '_',
    '_',
    '_',
    '_',
    '_',
    '_',
    '_',
    '行权价',
    '剩余日',
    '日增'
]
temp_df = temp_df[[
    '代码',
    '名称',
    '最新价',
    '涨跌额',
    '涨跌幅',
    '成交量',
    '成交额',
    '持仓量',
    '行权价',
    '剩余日',
    '日增',
    '昨结',
    '今开'
]]
temp_df['最新价'] = pd.to_numeric(temp_df['最新价'], errors='coerce')
temp_df['涨跌额'] = pd.to_numeric(temp_df['涨跌额'], errors='coerce')
temp_df['涨跌幅'] = pd.to_numeric(temp_df['涨跌幅'], errors='coerce')
temp_df['成交量'] = pd.to_numeric(temp_df['成交量'], errors='coerce')
temp_df['成交额'] = pd.to_numeric(temp_df['成交额'], errors='coerce')
temp_df['持仓量'] = pd.to_numeric(temp_df['持仓量'], errors='coerce')
temp_df['行权价'] = pd.to_numeric(temp_df['行权价'], errors='coerce')
temp_df['剩余日'] = pd.to_numeric(temp_df['剩余日'], errors='coerce')
temp_df['日增'] = pd.to_numeric(temp_df['日增'], errors='coerce')
temp_df['昨结'] = pd.to_numeric(temp_df['昨结'], errors='coerce')
temp_df['今开'] = pd.to_numeric(temp_df['今开'], errors='coerce')


temp_df.head()

,代码,名称,最新价,涨跌额,涨跌幅,成交量,成交额,持仓量,行权价,剩余日,日增,昨结,今开
0,cu2304P52000,沪铜23年04月沽52000,44.0,42.0,2100.0,72.0,15300.0,423.0,NaN,NaN,49.0,2.0,46.0
1,i2304p620,铁矿石23年04月沽620,2.1,2.0,2000.0,1.0,210.0,9.0,NaN,NaN,-1.0,0.1,2.1
2,cu2303P54000,沪铜23年03月沽54000,42.0,40.0,2000.0,10.0,1920.0,151.0,NaN,NaN,-6.0,2.0,28.0
3,i2304p610,铁矿石23年04月沽610,1.7,1.6,1600.0,1.0,170.0,8.0,NaN,NaN,-1.0,0.1,1.7
4,i2304p500,铁矿石23年04月沽500,1.7,1.6,1600.0,8.0,740.0,62.0,NaN,NaN,4.0,0.1,0.1

In [17]:
temp_df

,代码,名称,最新价,涨跌额,涨跌幅,成交量,成交额,持仓量,行权价,剩余日,日增,昨结,今开
0,cu2304P52000,沪铜23年04月沽52000,44.0,42.0,2100.00,72.0,15300.0,423.0,NaN,NaN,49.0,2.0,46.0
1,i2304p620,铁矿石23年04月沽620,2.1,2.0,2000.00,1.0,210.0,9.0,NaN,NaN,-1.0,0.1,2.1
2,cu2303P54000,沪铜23年03月沽54000,42.0,40.0,2000.00,10.0,1920.0,151.0,NaN,NaN,-6.0,2.0,28.0
3,i2304p610,铁矿石23年04月沽610,1.7,1.6,1600.00,1.0,170.0,8.0,NaN,NaN,-1.0,0.1,1.7
4,i2304p500,铁矿石23年04月沽500,1.7,1.6,1600.00,8.0,740.0,62.0,NaN,NaN,4.0,0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11323,pg2303p3450,LPG23年03月沽3450,1.0,-4.8,-82.76,89.0,1740.0,83.0,NaN,NaN,79.0,5.8,0.8
11324,pg2303p3550,LPG23年03月沽3550,2.0,-9.8,-83.05,26.0,1148.0,21.0,NaN,NaN,NaN,11.8,3.4
11325,pg2303p3650,LPG23年03月沽3650,3.6,-18.6,-83.78,367.0,37548.0,270.0,NaN,NaN,269.0,22.2,5.8
11326,pg2303p3500,LPG23年03月沽3500,1.2,-7.2,-85.71,50.0,1360.0,46.0,NaN,NaN,45.0,8.4,1.4
11327,ag2308P4650,沪银23年08月沽4650,2.0,-112.0,-98.25,2.0,1695.0,3.0,NaN,NaN,2.0,114.0,111.0

In [21]:
#http://push2.eastmoney.com/api/qt/kamt/get?fields1=f1,f2,f3,f4&fields2=f51,f52,f53,f54&ut=b2884a393a59ad64002292a3e90d46a5&cb=jQuery112409888319082959067_1673333526880&_=1673333527050
#todo: bug below
url = 'http://push2.eastmoney.com/api/qt/kamt/get'
params = {
    'ut': 'b2884a393a59ad64002292a3e90d46a5',
    'cb': 'jQuery112409888319082959067_1673333526880',
    'fields': 'f1,f2,f3,f4',
    'fields2': 'f51,f52,f53,f54',
    '_': '1673333527050',

}

r = requests.get(url, params=params)
data_text = r.text
data_text

'jQuery112409888319082959067_1673333526880({"rc":102,"rt":1,"svr":2887034885,"lt":1,"full":1,"dlmkts":"","data":null});'