# 金融期权T型报价
商品期权T型报价的接口为

`optshare.get_financial_option_quotes(exchange_name, calendar=optshare.Calendar(), display=True)`

其中，

- **exchange_name**: 指定交易所名称，支持上交所(`'sse'`)、深交所(`'szse'`)，以及中金所(`'cffex'`)的金融期权T型报价
- **calendar**: 指定交易日历，默认值为optshare.Calendar()，默认使用[在线节假日信息](https://raw.githubusercontent.com/yulu0131/optshare/master/src/optshare/dateutils/China.txt)，也可以通过指定带有节假日列表的txt文件来指定交易日历，更多信息详见[日历接口](https://optshare.readthedocs.io/en/latest/api_references/optshare.dateutils.html#calendar-definition)。
- **display**: 在获取T型报价时，是否展示期权报价的种类，默认值为True。

## ETF期权
### 上交所ETF期权T型报价

In [1]:
import optshare
optshare.get_financial_option_quotes(exchange_name = 'sse')

fetch option quotes for  510050
fetch option quotes for  510300
fetch option quotes for  510500

                   日期   行权价  看涨合约-最新价  看跌合约-最新价  挂钩标的代码  挂钩标的-最新价        到期日期
0    2023-02-16 11:21  2.45    0.3439    0.0001  510050     2.791  2023-02-22
1    2023-02-16 11:21  2.50    0.2935    0.0001  510050     2.791  2023-02-22
2    2023-02-16 11:21  2.55    0.2430    0.0001  510050     2.791  2023-02-22
3    2023-02-16 11:21  2.60    0.1944    0.0004  510050     2.791  2023-02-22
4    2023-02-16 11:21  2.65    0.1440    0.0007  510050     2.791  2023-02-22
..                ...   ...       ...       ...     ...       ...         ...
207  2023-02-16 11:21  6.50    0.3002    0.3705  510500     6.441  2023-09-27
208  2023-02-16 11:21  6.75    0.2054    0.5250  510500     6.441  2023-09-27
209  2023-02-16 11:21  7.00    0.1302       NaN  510500     6.441  2023-09-27
210  2023-02-16 11:21  7.25    0.0910       NaN  510500     6.441  2023-09-27
211  2023-02-16 11:21  7.50    0.0596       NaN  510500     6.441  2023-09-27

[212 rows x 7 columns]

### 深交所ETF期权T型报价

In [2]:
optshare.get_financial_option_quotes(exchange_name = 'szse')

fetch option quotes for  159919
fetch option quotes for  159922
fetch option quotes for  159915

                   日期   行权价  看涨合约-最新价  看跌合约-最新价  挂钩标的代码  挂钩标的-最新价        到期日期
0    2023-02-16 11:21  3.50       NaN    0.0001  159919     4.236  2023-02-22
1    2023-02-16 11:21  3.60    0.6287    0.0001  159919     4.236  2023-02-22
2    2023-02-16 11:21  3.70    0.5307    0.0001  159919     4.236  2023-02-22
3    2023-02-16 11:21  3.80    0.4326    0.0001  159919     4.236  2023-02-22
4    2023-02-16 11:21  3.90    0.3340    0.0004  159919     4.236  2023-02-22
..                ...   ...       ...       ...     ...       ...         ...
153  2023-02-16 11:21  2.55    0.1469    0.1929  159915     2.485  2023-09-27
154  2023-02-16 11:21  2.60    0.1263    0.2219  159915     2.485  2023-09-27
155  2023-02-16 11:21  2.65    0.1054    0.2570  159915     2.485  2023-09-27
156  2023-02-16 11:21  2.70    0.0925    0.2992  159915     2.485  2023-09-27
157  2023-02-16 11:21  2.75    0.0800    0.3308  159915     2.485  2023-09-27

[158 rows x 7 columns]

## 股指期权

In [3]:
optshare.get_financial_option_quotes(exchange_name = 'cffex')

fetch option quotes for  000300
fetch option quotes for  000852
fetch option quotes for  000016

,日期,行权价,看涨合约-最新价,看跌合约-最新价,挂钩标的代码,挂钩标的-最新价,到期日期
0,2023-02-16 11:21,3400.0,765.4,NaN,IO2312,4163.91,2023-12-15
1,2023-02-16 11:21,3500.0,685.0,NaN,IO2312,4163.91,2023-12-15
2,2023-02-16 11:21,3600.0,573.0,67.4,IO2312,4163.91,2023-12-15
3,2023-02-16 11:21,3700.0,529.6,86.2,IO2312,4163.91,2023-12-15
4,2023-02-16 11:21,3800.0,456.2,112.4,IO2312,4163.91,2023-12-15
...,...,...,...,...,...,...,...
335,2023-02-16 11:21,2800.0,NaN,NaN,HO2309,2782.14,2023-09-15
336,2023-02-16 11:21,2900.0,99.0,NaN,HO2309,2782.14,2023-09-15
337,2023-02-16 11:21,3000.0,70.4,NaN,HO2309,2782.14,2023-09-15
338,2023-02-16 11:21,3100.0,NaN,NaN,HO2309,2782.14,2023-09-15
339,2023-02-16 11:21,3200.0,NaN,NaN,HO2309,2782.14,2023-09-15